<h1>ROR Blog</h1>
<% @posts.each do |post| %>
  <h3><%= link_to post.title, post_path(post) %></h3>
  <p><%= @markdown.render(post.body).html_safe %></p>
  <p><%= time_ago_in_words(post.created_at)  %></p>
  <hr/>
<% end %>